<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Home Page</title>
</head>

<body>
    <%- include('header') %>
        <h1>Selamat Datang
            <br>di trinews
        </h1>

        <h3>Situs berita No.1
            <br>terlengkap dan terupdate
            <br>di SYNRGY Academy
        </h3>

        <h5>
            <%= counter %> kali dikunjungi pada hari ini
        </h5>



        <div class="row padded-block">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 no-pads">
                        <% for( let i=0; i < image.length; i++ ) { %>
                            <img src="<%= image[i] %> ">
                            <% } %>
                    </div>
                    <div class="col-md-6 padded-text">
                        <% for( let j=0; j < news.length; j++ ) { %>
                            <p>
                                <a href="<%= news[j] %>">
                                    <%= title[j] %>
                                </a>
                                <% } %>
                            </p>
                            <% } %>
                                <p>Velit voluptatibus et repudiandae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <%- include('footer') %>

            <!-- [ {title: "abc", image: "", paragraf: ""}, {}, {}] -->
</body>

</html>